<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
  <p style="color: white"> Carregando... </p>
</ngx-spinner>

<section style="padding-top: 150px; background-color:snow" >
  <div class="container" data-aos="fade-up">
    <div class="container">
      
      <!-- Reset Form -->
      <div class="col-md-6 col-lg-6" style="margin-left: auto; margin-right: auto;">
        <form [formGroup]="resetPasswordUserForm" (ngSubmit)="resetPasswordUser()" autocomplete="on">
          <div class="row">
            
            <h3 style="margin-left: auto; margin-right: auto; margin-bottom: 40px;">Escolha sua nova senha</h3>
            
            <!-- SENHA -->
            <div class="form-group col-md-6">
              <label class="control-label">Senha<span style="color: red;">*</span></label>
              <div>
                <input required id="newPassword" type="password" formControlName="newPassword" class="form-control bg-white border-md">
              </div>
              <div class="text-danger" *ngIf="this.resetPasswordUserForm.get('newPassword')?.hasError('required') && this.resetPasswordUserForm.get('newPassword')?.touched">
                  Campo obrigatório
              </div>
              <div class="text-danger" *ngIf="this.resetPasswordUserForm.get('newPassword')?.hasError('maxlength') && this.resetPasswordUserForm.get('newPassword')?.touched">
                  Máximo 12 caracteres
              </div>
              <div class="text-danger" *ngIf="this.resetPasswordUserForm.get('newPassword')?.hasError('minLength') && this.resetPasswordUserForm.get('newPassword')?.touched">
                  Mínimo 6 caracteres
              </div>
            </div>
            
            <!-- CONFIRMAÇÃO -->
            <div class="form-group col-md-6">
              <label class="control-label">Confirmação<span style="color: red;">*</span></label>
              <div>
                <input required id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control bg-white border-md">
              </div>
              <div class="text-danger" *ngIf="this.resetPasswordUserForm.get('confirmPassword')?.hasError('required') && this.resetPasswordUserForm.get('confirmPassword')?.touched">
                  Campo obrigatório
              </div>
              <div class="text-danger" *ngIf="this.resetPasswordUserForm.get('confirmPassword')?.hasError('maxlength') && this.resetPasswordUserForm.get('confirmPassword')?.touched">
                  Máximo 12 caracteres
              </div>
              <div class="text-danger" *ngIf="this.resetPasswordUserForm.get('confirmPassword')?.hasError('minLength') && this.resetPasswordUserForm.get('confirmPassword')?.touched">
                  Mínimo 6 caracteres
              </div>
            </div>
            
            <!-- Submit Button -->
            <div class="form-group col-lg-12 mx-auto mb-0">
              <input type="submit" [disabled]="!resetPasswordUserForm.valid" value="Confirmar" class="btn btn-primary btn-block py-2">&nbsp;
            </div>
            
          </div>
        </form>
      </div>
      
    </div>
  </div>
</section>