<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
  <p style="color: white"> Carregando... </p>
</ngx-spinner>

<section style="padding-top: 150px; background-color:snow" >
  <div class="container" data-aos="fade-up">
    <div class="container">
      <!-- Edit Form -->
      <div class="col-md-8 col-lg-8" style="margin-left: auto; margin-right: auto;">
        <h3 style="margin-left: auto; margin-right: auto; margin-bottom: 40px; text-align: center;">Alteração de Senha</h3>
        <form [formGroup]="editPasswordForm" autocomplete="on" (ngSubmit)="editPassword()">
          
          <!-- ******************* LINHA 1 ******************* -->
          <div class="row">
            <!-- SENHA ATUAL -->
            <div class="form-group col-md-4">
              <label class="control-label">Senha Atual<span style="color: red;">*</span></label>
              <div>
                <input required formControlName="currentPassword" type={{mostrarSenhas}} class="form-control bg-white border-md">
              </div>
              <div class="text-danger" *ngIf="this.editPasswordForm.get('currentPassword')?.hasError('required') && this.editPasswordForm.get('currentPassword')?.touched">
                Campo obrigatório
              </div>
              <div class="text-danger" *ngIf="this.editPasswordForm.get('currentPassword')?.hasError('maxlength') && this.editPasswordForm.get('currentPassword')?.touched">
                Máximo 100 caracteres
              </div>
              <div class="text-danger" *ngIf="this.editPasswordForm.get('currentPassword')?.hasError('minLength') && this.editPasswordForm.get('currentPassword')?.touched">
                Mínimo 6 caracteres
              </div>
            </div>
            
            <!-- SENHA NOVA -->
            <div class="form-group col-md-4">
              <label class="control-label">Nova Senha<span style="color: red;">*</span></label>
              <div>
                <input required formControlName="newPassword" type={{mostrarSenhas}} class="form-control bg-white border-md">
              </div>
              <div class="text-danger" *ngIf="this.editPasswordForm.get('newPassword')?.hasError('required') && this.editPasswordForm.get('newPassword')?.touched">
                Campo obrigatório
              </div>
              <div class="text-danger" *ngIf="this.editPasswordForm.get('newPassword')?.hasError('maxlength') && this.editPasswordForm.get('newPassword')?.touched">
                Máximo 100 caracteres
              </div>
              <div class="text-danger" *ngIf="this.editPasswordForm.get('newPassword')?.hasError('minLength') && this.editPasswordForm.get('newPassword')?.touched">
                Mínimo 6 caracteres
              </div>
            </div>

            <!-- SENHA NOVA -->
            <div class="form-group col-md-4">
              <label class="control-label">Confirmação de Senha<span style="color: red;">*</span></label>
              <div>
                <input required formControlName="confirmPassword" type={{mostrarSenhas}}  class="form-control bg-white border-md">
              </div>
              <div class="text-danger" *ngIf="this.editPasswordForm.get('confirmPassword')?.hasError('required') && this.editPasswordForm.get('confirmPassword')?.touched">
                Campo obrigatório
              </div>
              <div class="text-danger" *ngIf="this.editPasswordForm.get('confirmPassword')?.hasError('maxlength') && this.editPasswordForm.get('confirmPassword')?.touched">
                Máximo 100 caracteres
              </div>
              <div class="text-danger" *ngIf="this.editPasswordForm.get('confirmPassword')?.hasError('minLength') && this.editPasswordForm.get('confirmPassword')?.touched">
                Mínimo 6 caracteres
              </div>
            </div>
          </div>
          
          <!-- Submit Button -->
          <div class="row" style="margin-top: 20px;">
            <div class="form-group col-md-4">
              <!-- <button class="btn btn-info" (click)="mostrarSenha()">Exibir Senhas</button> -->
              <a class="btn btn-info btn-block py-2" (click)="mostrarSenha()">Exibir Senhas</a>
            </div>

            <div class="form-group col-md-8">
              <input type="submit" [disabled]="!editPasswordForm.valid" value="Atualizar Senha" class="form-control btn btn-primary btn-block py-2">&nbsp;
            </div>
          </div>
          
          <!-- <div class="form-group col-lg-4 mx-auto mb-0" style="margin-top: 20px;">
            <input value="Exibir Senhas" class="form-control btn btn-info" (click)="mostrarSenha()">
            <input type="submit" [disabled]="!editPasswordForm.valid" value="Atualizar Senha" class="form-control btn btn-primary btn-block py-2">&nbsp;
          </div> -->
          
        </form>
      </div>
    </div>
  </div>
  
</section>