<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
  <p style="color: white"> Carregando... </p>
</ngx-spinner>

<section style="padding-top: 150px; background-color:snow" >
  <div class="container" data-aos="fade-up">
    <div class="container">
      
      <!-- Reset Form -->
      <div class="col-md-6 col-lg-6" style="margin-left: auto; margin-right: auto;">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" autocomplete="on">
          <div class="row">
            
            <h3 style="margin-left: auto; margin-right: auto; margin-bottom: 40px;">Digite seu e-mail</h3>
            
            <!-- USERNAME -->
            <div class="input-group col-lg-12 mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white px-4 border-md border-right-0">
                  <i class="icofont-mail"></i>
                </span>
              </div>
              <input id="username" type="email" class="form-control bg-white border-left-0 border-md" formControlName="username" [ngClass]="{ 'is-invalid': resetPasswordForm.get('username')!.errors && resetPasswordForm.get('username')!.touched}">
              <div *ngIf="resetPasswordForm.get('username')!.hasError('required') && resetPasswordForm.get('username')!.touched" class="invalid-feedback">
                E-mail é obrigatório.
              </div>
              <div *ngIf="resetPasswordForm.get('username')!.hasError('email') && resetPasswordForm.get('username')!.touched" class="invalid-feedback">
                E-mail em formato inválido.
              </div>
            </div>
            
            <!-- Submit Button -->
            <div class="form-group col-lg-12 mx-auto mb-0">
              <input type="submit" [disabled]="!resetPasswordForm.valid" value="Resetar Senha" class="btn btn-primary btn-block py-2">&nbsp;
            </div>
            
          </div>
        </form>
      </div>
      
    </div>
  </div>
</section>